span {
  display: block;
}

div.col-lg-3 span {
  border-bottom: 1px rgba(0,0,0,.1) solid;
  padding: 15px 0px;
}

button a {
  color: white;
  font-weight: bold;
}

button.btn.back-button {
  padding: 10px 25px;
}
