div.Wrong {
  height: 90vh;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content : space-around;
  z-index: 1;
}
div.Wrong p {
  text-align: center;
  font-size: 20px;
}
button.btn {
  margin-top: 25px;
  padding: 0;
}
button.btn a {
  width: 100%;
  display: block;
  padding: 10px;
  font-variant: small-caps;
  text-decoration: none;
}
button.btn a:hover {
  color: white;
}
span.big {
  text-align: center;
  font-size: 25px;
}
