div.row  {
  margin-right: 0;
  margin-left: 0;
  overflow: hidden;
  flex: wrap;
  align-items: center;
  justify-content : space-around;
}

div.buttons-group {
  padding: 15px 0px;
  display: block;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

div.buttons-group button {
  padding: 8px;
  min-width: 40px;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

div[class^="col"]  {
  margin-bottom: 25px;
}

img.details-img {
  width: 100%;
  height: auto;
}

div.container {
  margin-bottom: 25px;
}
